<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>黑马商城后台</title>
		<link rel="stylesheet" href="/web/resources/css/dtree.css" />
		<link rel="stylesheet" href="/web/resources/css/back.css" />
		<script src="/web/resources/js/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="/web/resources/js/jquery-heima-0.0.1.js" ></script>
		<script type="text/javascript" src="/web/resources/js/dtree.js" ></script>
	</head>
	<frameset rows="115,*,45" border="2px">
	  <frame src="top.html"  scrolling="NO" noresize>
	  <frameset cols="159,*"  framespacing="0">
			<frame src="left.html"  noresize scrolling="YES">
			<frame src="welcome.html" name="mainFrame">
	  </frameset>
	  <frame src="bottom.html" scrolling="NO"  noresize>
	</frameset>
</html>
